@use "../breakpoints.scss" as bp;

[data-available="1"] {
    fill: #226f54;
}

[data-available="2"] {
    fill: #f1d302;
}

[data-available="3"] {
    fill: #bf4342;
}

[data-available] {
    opacity: 0.5;
    /* transition: fill 0.2s ease-in-out; */
}

[data-available]:hover {
    filter: brightness(65%);
    opacity: 0.9;
}

[data-available] {
    stroke: white;
}

.blueprint {
    flex: 100%;

    @media (min-width: bp.$md) {
        flex: 50% .5;
    }
}

.blueprint-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    // padding: 1.5em 0;
    @media (min-width: bp.$md) {
        padding: 1.5em 0;
    }
}