@use "../breakpoints.scss" as bp;

[data-available="1"] {
    fill: var(--available-1);
    // fill: var(--secondary-color);
}

[data-available="2"] {
    fill: var(--available-2);
    // fill: transparent;
}

[data-available="3"] {
    fill: var(--available-3);
    // fill: transparent;
}

[data-available="4"] {
    fill: var(--available-4);
}

[data-available] {
    opacity: 0.5;
    /* transition: fill 0.2s ease-in-out; */
}

[data-available="1"]:hover {
    cursor: pointer;
    filter: brightness(65%);
    opacity: 0.9;
}

[data-available] {
    stroke: white;
}

.blueprint-group {
    flex: 100%;

    @media (min-width: bp.$md) {
        flex: 50% .5;
    }
}

.blueprint-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;

    // padding: 1.5em 0;
    @media (min-width: bp.$md) {
        padding: 1.5em 0;
    }
}

.blueprint__cover {
    background-color: salmon;
    opacity: 0.5;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}