:root {
    --primary-color: white;
    --secondary-color: #16243C;
    // --terciary-color: ;
    --available-1: #226f54;
    --available-2: #f1d302;
    --available-3: #bf4342;
    --highlight-input: #2497E3;
    --color-error: #bf4342;
    --color-success: #389977;
    --highlight-text: #8bdce6;
}