:root {
  --primary-color: white;
  --secondary-color: #16243C;
  --available-1: #226f54;
  --available-2: #f1d302;
  --available-3: #bf4342;
  --highlight-input: #2497E3;
  --color-error: #bf4342;
  --color-success: #389977;
  --highlight-text: #8bdce6;
}

[data-available="1"] {
  fill: #226f54;
}

[data-available="2"] {
  fill: #f1d302;
}

[data-available="3"] {
  fill: #bf4342;
}

[data-available] {
  opacity: 0.5;
  /* transition: fill 0.2s ease-in-out; */
}

[data-available]:hover {
  filter: brightness(65%);
  opacity: 0.9;
}

[data-available] {
  stroke: white;
}

.blueprint {
  flex: 100%;
}
@media (min-width: 45em) {
  .blueprint {
    flex: 50% 0.5;
  }
}

.blueprint-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media (min-width: 45em) {
  .blueprint-container {
    padding: 1.5em 0;
  }
}

.indicator {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap: 0.4em 1.2em;
  flex-flow: wrap row;
}
@media (min-width: 45em) {
  .indicator {
    font-size: 1.4rem;
  }
}

.indicator__option {
  display: flex;
  align-items: center;
  gap: 0.4em;
  border: solid var(--secondary-color) 2px;
  padding: 0.4em;
  border-radius: 15px;
}

.indicator__label {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.indicator__label__disponible {
  background-color: var(--available-1);
}

.indicator__label__apartado {
  background-color: var(--available-2);
}

.indicator__label__no-disponible {
  background-color: var(--available-3);
}

.banner {
  flex: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}
.banner > * {
  margin: 0.6em;
}
@media (min-width: 45em) {
  .banner {
    font-size: 2.5rem;
  }
}

.footer-layout-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}

.quoter-form {
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  gap: 0.3em;
}
@media (min-width: 45em) {
  .quoter-form {
    flex: 0.5;
  }
}

.quoter-form__input-container {
  display: flex;
  flex-flow: column;
}

.quoter-form__label {
  font-weight: bold;
  font-size: 1.4rem;
}

.quoter-form__input {
  font-size: 1.4rem;
  color: black;
  line-height: 2rem;
  outline: none;
  border: none;
  border-bottom: 3px black solid;
}

.quoter-form__input:focus {
  border-bottom-color: var(--highlight-input);
}

.quoter-form__errors {
  color: var(--color-error);
  font-size: 1.1rem;
  justify-self: start;
  align-self: start;
}

.quoter-form__submit-button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.6rem;
  padding: 0.2em 0;
  border: none;
  border-radius: 0;
}
.quoter-form__submit-button:hover {
  background-color: var(--highlight-input);
  color: var(--secondary-color);
}

.hidden {
  visibility: hidden;
}

.quoter-form__submitted-success-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

.quoter-form-submitted-success-text-highlight {
  font-size: 1.6rem;
  color: var(--color-success);
}

.quoter__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.quoter__area {
  font-size: 1.1rem;
  font-weight: lighter;
}

.quoter__enganche-label {
  font-weight: bold;
}

.enganche-input-container {
  display: flex;
  flex-flow: wrap row;
}

.quoter__enganche-label {
  flex: 1 100%;
}

.enganche-input-box {
  text-align: right;
  flex: 70%;
  font-family: var(--font-2);
  font-size: 1.8rem;
  width: 100%;
  border: none;
  line-height: 3.2rem;
  border-bottom: black 2px solid;
}

.enganche-input-box:focus {
  border-bottom-color: var(--highlight-input);
  outline: none;
}

.enganche-input-slider {
  width: 100%;
  height: 1em;
  margin: 3em 0 0em;
  appearance: none;
}

.enganche-input-slider__min-max-labels {
  display: flex;
  flex: 100%;
  justify-content: space-between;
  font-weight: lighter;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

.quoter__plazo-label {
  font-weight: bold;
}

.plazo-input-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}

.quoter__plazo-label {
  flex: 100%;
}

.plazo-select-container {
  padding: 0.5em;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  flex: 0.7;
}

.plazo-select-input {
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5em;
}

.plazo-select-input > option {
  font-size: 1rem;
  color: blue;
  display: block;
  width: 100px;
  appearance: none;
}

.cotizador-section {
  background-color: #eee;
  color: black;
  padding: 0.4em;
  border-radius: 1em;
}

.cotizador-section__title {
  font-size: 1.8rem;
}

.cotizador-section__sub-container {
  padding: 0.4em;
}

.cotizador-section__subtitle {
  font-size: 1.6rem;
  font-weight: lighter;
}

.cotizador-section__text-body {
  font-size: 1.6rem;
}

@media (min-width: 45em) {
  .quoter-main {
    flex: 0.5;
  }
}

.quoter__price-section {
  padding: 1em 1.4em 1.4em 1.4em;
}

.quoter__total-price__label {
  font-size: 1.4rem;
  text-align: end;
}

.quoter__total-price__value-container {
  text-align: end;
}

.quoter__total-price__value {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: end;
}

.input-section {
  padding: 0.4em 0;
}

.quoter {
  border-radius: 12px;
  font-size: 1.4rem;
  flex: 0.96;
  min-height: 90%;
  padding: 0.9em;
  background-color: var(--primary-color);
}
@media (min-width: 45em) {
  .quoter {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }
}

.quoter-container {
  top: 0;
  margin: 2em;
}

.quoter-button-container {
  display: flex;
  justify-content: flex-end;
  flex: 100%;
}

.quoter-close-button {
  width: 1.5em;
  aspect-ratio: 1/1;
  font-size: 1.4em;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.quoter-close-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}

.quoter-close-button > * {
  margin: 0;
}

.floating-whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25d366;
  color: #fff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.floating-whatsapp-button:hover {
  width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.whatsapp-button-text-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.floating-whatsapp-button:hover {
  transition: all 0.3s ease-in-out;
}
.floating-whatsapp-button:hover .whatsapp-button-text-container {
  width: 120px;
}
.floating-whatsapp-button:hover .whatsapp-icon {
  margin-right: 10px;
}

.whatsapp-button-text {
  position: absolute;
  top: 0;
  left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.whatsapp-button-text:hover {
  transition: transform 0.3s ease-in-out;
}

.floating-whatsapp-button:hover .whatsapp-button-text.visible {
  transform: translateX(-120px);
}

.header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  padding: 1em;
  text-align: center;
}

.header .logo-anchor {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1em;
  align-items: flex-end;
}

.footer .logo-anchor {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer > .logo-anchor > img {
  width: 4em;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  box-sizing: border-box;
  color: var(--secondary-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
