@use "../breakpoints.scss" as bp;

.cotizador-section {
    background-color: var(--terciary-color);
    // color: black;
    color: var(--secondary-color);
    padding: 1em calc(.8em);
    margin: 0 -.8em;
    // border-radius: 2px;
}

.cotizador-section__title {
    font-size: 1.8rem;
    font-family: var(--font-2);
}

.cotizador-section__sub-container {
    padding: .4em;
}

.cotizador-section__sub-sub-container {
    @media (min-width: bp.$md) {
        display: flex;
    }
}

.cotizador-section__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    // font-family: var(--font-2);
}

.cotizador-section__text-body {
    font-size: 1.6rem;
}

.cotizacion-section__buttonGroup {
    margin: .4em 0;
    display: flex;
    flex-wrap: wrap;
    gap: .8em;

    @media (min-width: bp.$md) {
        flex: 1;
    }
}


.cotizacion-section__buttonGroup>* {
    border: 1px solid black;
    font-size: 1.3rem;
    border: 0;
    font-weight: 500;
}

.cotizador-section__button-descargar {
    flex: 1 100%;
    display: block;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 8px;

    &:hover {
        background-color: var(--highlight-input);
    }

    @media (min-width: bp.$md) {
        flex: .5;
    }
}


.cotizador-section__button-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 100%;
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-whatsapp);
    color: white;

    &:hover {
        background-color: var(--color-whatsapp-dark);
    }

    @media (min-width: bp.$md) {
        flex: .5;
    }
}

.cotizador-section__constructor-text {
    font-size: 2rem;
}

.cotizador-section__details {
    @media (min-width: bp.$md) {
        flex: 50%;
    }
}