.cotizador-section {
    background-color: #eee;
    color: black;
    padding: .4em;
    border-radius: 1em;
}

.cotizador-section__title {
    font-size: 1.8rem;
}

.cotizador-section__sub-container {
    padding: .4em;
}

.cotizador-section__subtitle {
    font-size: 1.6rem;
    font-weight: lighter;
}

.cotizador-section__text-body {
    font-size: 1.6rem;
}