.quoter__plazo-label {
    font-weight: bold;
    font-family: var(--font-2);
}

.plazo-input-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}

.quoter__plazo-label {
    flex: 100%;
}

.plazo-select-container {
    padding: .5em;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    flex: .7;
}

.plazo-select-input {
    font-size: 1.8rem;
    outline: none;
    text-align: center;
    // border-bottom: 2px solid black;
    // padding: .5em;
    // width: 100%;
}


.plazo-select-input>option {
    // text-align: center;
    // font-size: 1rem;
    // display: block;
    // width: 100px;
    // appearance: none;
}