@use "../breakpoints.scss" as bp;

.quoter-form {
    padding: 1em 0;
    display: flex;
    flex-flow: column;
    gap: .3em;

    @media (min-width: bp.$md) {
        flex: 0.5;
    }
}

.quoter-form__input-container {
    display: flex;
    flex-flow: column;
}

.quoter-form__label {
    font-weight: bold;
    font-size: 1.4rem;
}

.quoter-form__input {
    font-size: 1.4rem;
    color: black;
    line-height: 2rem;
    outline: none;
    border: none;
    border-bottom: 3px black solid;
}

.quoter-form__input:focus {
    border-bottom-color: var(--highlight-input);
}

.quoter-form__errors {
    color: var(--color-error);
    font-size: 1.1rem;
}

.quoter-form__submit-button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.6rem;
    padding: .2em 0;
    border: none;
    border-radius: 0;

    &:hover {
        background-color: var(--highlight-input);
        color: var(--secondary-color);
    }
}

.hidden {
    visibility: hidden;
}

.quoter-form__submitted-success-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.quoter-form-submitted-success-text-highlight {
    font-size: 1.6rem;
    color: var(--color-success);
}