@use "./quoterForm.scss";
@use "./quoterHeader.scss";
@use "./quoterMain.scss";
@use "../breakpoints.scss" as bp;

.quoter {
    border-radius: 12px;
    font-size: 1.4rem;
    flex: .96;
    min-height: 90%;
    padding: .9em;
    // background-color: #ddd;
    background-color: var(--primary-color);
    // border: #ddd solid 2px;
    // box-shadow: 0px 0px 15px 5px #aaa;

}

.quoter__header {
    display: flex;
    justify-content: center;
}

.quoter__title {
    font-family: "Dolce Vita";
    font-size: 3rem;
    color: var(--secondary-color);
}

.quoter__details {
    display: flex;
    // justify-content: center;
    align-items: center;
}


.quoter__area-section {
    padding-right: 1em;
    text-align: end;
    font-size: 1.5rem;
    width: 50%;
    border-right: 1px solid var(--secondary-color);
}

.quoter__area {
    font-weight: bold;
    text-align: end;
    font-size: 1.5rem;
}

.quoter-container {
    top: 0;
    margin: 2em;
}

.quoter-button-container {
    display: flex;
    justify-content: flex-end;
    flex: 100%;
}

.quoter-close-button {
    width: 1.5em;
    aspect-ratio: 1 / 1;
    font-size: 1.4em;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.quoter-close-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

.quoter-close-button>* {
    margin: 0;
}

.quoter__chepina-section {
    padding: .4em 0;

    @media (min-width: bp.$md) {
        margin-top: -2em;
    }
}


.quoter-main {
    padding-top: 1em;
    border-top: solid 1px var(--secondary-color);
}

/* Temporary fix*/
.chakra-select__icon-wrapper {
    display: none;
}