@use "./quoterForm.scss";
@use "./quoterHeader.scss";
@use "./quoterMain.scss";
@use "../breakpoints.scss" as bp;

.quoter {
    border-radius: 12px;
    font-size: 1.4rem;
    flex: .96;
    min-height: 90%;
    padding: .9em;
    // background-color: #ddd;
    background-color: var(--primary-color);
    // border: #ddd solid 2px;
    // box-shadow: 0px 0px 15px 5px #aaa;

    @media (min-width: bp.$md) {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
    }
}

.quoter-container {
    top: 0;
    margin: 2em;
}

.quoter-button-container {
    display: flex;
    justify-content: flex-end;
    flex: 100%;
}

.quoter-close-button {
    width: 1.5em;
    aspect-ratio: 1 / 1;
    font-size: 1.4em;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.quoter-close-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

.quoter-close-button>* {
    margin: 0;
}