@use "./engancheSection.scss";
@use "./plazoSection.scss";
@use "./cotizacionSection.scss";
@use "../breakpoints.scss" as bp;

.quoter-main {

    @media (min-width: bp.$md) {
        display: flex;
        flex-flow: row;
        gap: 1em;
    }
}

.quoter__price-section {
    padding-left: 1em;
    width: 50%;
}

.quoter__total-price__label {
    font-size: 1.4rem;
    // text-align: end;
}

.quoter__total-price__value-container {
    // text-align: end;
}

.quoter__total-price__value {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
}

.input-section {
    padding: .4em 0;
}