@use "./engancheSection.scss";
@use "./plazoSection.scss";
@use "./cotizacionSection.scss";

.quoter__price-section {
    padding: 1em 1.4em 1.4em 1.4em;
}

.quoter__total-price__label {
    font-size: 1.4rem;
    text-align: end;
}

.quoter__total-price__value-container {
    text-align: end;
}

.quoter__total-price__value {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: end;
}

.input-section {
    padding: .4em 0;
}